###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> ide ###
.idea/
.vscode/
*.swp
*.swo
*~
###< ide ###

###> os ###
.DS_Store
Thumbs.db
###< os ###

###> docker ###
.env
.env.local
###< docker ###
